/*CSS属性书写顺序：*/
/*1. 布局定位属性：display/position/float/clear/visibility/overflow*/
/*2. 自身属性：width/height/margin/padding/border/backgroud*/
/*3. 文本属性：color/font/text-decoration/text-align/vertical-align/white-space/break-word*/
/*4. 其他属性(CSS3): content/cursor/border-radius/box-shadow/text-shadow/backgroud:linear-gradient...*/

/*清除 body 的内外边距*/
* {
    margin: 0;
    padding: 0;
}

.body{
    background-color: #f3f5f7;
}

/*我是版心，一版页面核心部分*/
.w {
    width: 1200px;
    margin: auto;
}

.fixed{
    position: fixed;
    /*走浏览器的一半*/
    left: 50%;
    top: 100px;
    /*走版心 .w 的一半*/
    margin-left: 600px;
    width: 50px;
    height: 50px;
    background-color: pink;

}

/*去除无序列表小圆点*/
li{
    list-style: none;
}

/*去除链接下划线*/
a{
    text-decoration: none;
}

.header {
    height: 42px;
    /*此处会层叠 w 中的margin*/
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
}

.nav{
    float: left;
    margin-left: 60px;
}

/*导航栏不需要给宽度，加浮动后，自动具有行内块元素特性*/
/*能够撑开盒子*/
.nav ul li{
    float: left;
    margin: 0 15px;
}

.nav ul li a{
    display: block;
    height: 42px;
    /*内部padding撑开盒子，保持空隙*/
    padding: 0 10px;
    /*让文字垂直居中，和height一样高即可*/
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

/*当鼠标经过时，出现下边框和变色*/
.nav ul li a:hover{
    color: #00a4ff;
    border-bottom: 2px solid #00a4ff;
}

.search{
    float: left;
    width: 412px;
    height: 42px;
    line-height: 42px;
    margin-left: 50px;
}

.search input{
    float: left;
    width: 345px;
    height: 40px;
    border:1px solid #00a4ff;
    /*清除右侧边框*/
    border-right: none;
    /*文本颜色和字体*/
    color:#bfbfbf;
    font-size: 14px;
    /*将内部文字挤到右侧*/
    padding-left:15px;
}

/*注意行内块之间会有缝隙,会把 search 挤下来
浮动可以清除缝隙*/
.search button{
    float: left;
    width: 50px;
    height: 42px;
    /*按钮 button 默认有个边框，需要去除掉。*/
    border: 0;
    background-image: url("../img/search.png");
}

.user{
    float: right;
    height: 42px;
    line-height: 42px;
    margin-right: 20px;
    font-size: 14px;
    color: #666;
}

/*banner区域*/
.banner{
    background-color: #1c036c;
    height: 420px;
}

.banner .w{
    height: 420px;
    /*url 图片不重复 靠着顶端 水平居中对齐*/
    background:url("../img/banner.png") no-repeat top center;
}

.subnav{
    float: left;
    width: 190px;
    height: 420px;
    /*半透明*/
    background: rgba(0,0,0,0.3);
}

.subnav ul li{
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
}

.subnav ul li a{
    font-size: 14px;
    color: white;
}

.subnav ul li a:hover{
    color: blue;
}


.subnav ul li a span{
    float: right;
}

.course{
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    /*浮动的盒子不会有外边距合并的问题*/
    margin-top: 50px;
}

.course h2{
    height: 48px;
    background-color: #9bceea;
    font-size: 18px;
    color:#fff;
    /*垂直居中*/
    line-height: 48px;
    /*水平居中*/
    text-align: center;
}

.bd{
    padding: 0 20px;
}

.bd ul li{
    border-bottom: #a5a5a5 solid 1px;
    padding:15px 0;
}

.bd ul li h4{
    font-size: 14px;
    color: #4e4e4e;
}

.bd ul li p{
    font-size: 12px;
    color: #a5a5a5;
}

.bd .more{
    /*a标签属于行内元素，要变为块级元素才有外边框等属性*/
    display: block;
    margin-top: 5px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #00a4ff;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #00a4ff;
}

/*3.精品推荐模块*/
.goods{
    margin-top:10px;
    height: 60px;
    /*行高会继承给三个孩子*/
    line-height: 60px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}

/*精品推荐*/
.goods h3{
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #004aff;
}

.goods ul{
    float: left;
    margin-left: 30px;
}

.goods ul li{
    float: left;
}

.goods ul li a{
    padding: 0 30px;
    font-size: 16px;
    color: black;
    border-left: 1px #ccc solid;
}


.mod{
    margin-right: 30px;
    float: right;
    font-size: 14px;
    color: #004aff;
}

.box{
    margin-top: 30px;
}

.box-hd{
    height: 45px;
}

.box-hd h3{
    float: left;
    line-height: 45px;
    font-size: 20px;
    color: #494949;
}

.box-hd a{
    float: right;
    line-height: 45px;
    font-size: 12px;
    color: #a5a5a5;
    margin-right: 5px;
}

/*把 li 的父亲 ul 修改的足够宽，一行能装下5个盒子就不会换行了*/
.box ul{
    width: 1225px;
}

.box ul li{
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box ul li img{
    width: 100%;
}

.box ul li h4{
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    /*不加粗*/
    font-weight: 400;
}

.box-bd .info{
    margin: 0px 20px 0px 25px;
    font-size: 12px;
    /*不加粗*/
    font-weight: 400;
    color:#999;
}

.box-bd .info span{
    color:#ff7c2d;
}

/*ul 中 li 浮动后外层 div 高度变为了0，要加去除浮动。*/
/*给父元素加一个伪类*/
.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix li{
    position: relative;
}

.clearfix li .hot{
    position: absolute;
    background-color: pink;
    right: -2px;
    width: 40px;
    height: 20px;
    font-size: 10px;
    text-align: center;
}

/*底部区域开始了*/
.footer{
    height: 260px;
    background-color: #F0F0F0;
}

.footer .w{
    /*外边距合并只会影响margin,padding不会合并*/
    padding-top: 35px;
}

.copyright{
    float: left;
}

.copyright p{
    font-size: 12px;
    color:#666666;
    margin:20px 0;
}

/*a属于行内元素，没有大小，要指定为块级元素*/
.copyright .app{
    display: block;
    width: 118px;
    height: 33px;
    border:1px solid #00a4ff;
    text-align: center;
    line-height: 33px;
    font-size: 16px;
    color: #00a4ff;
}

.links{
    float: right;
}

.links dl{
    float: left;
    margin-left: 100px;
}

.links dl dt a{
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.links dl dd a{
    font-size: 12px;
    color: #333;
}

