<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--    v-clock指令用法:避免闪动-->
    <!--    1. 提供样式-属性选择器-->
    <!--    [v-clock]{-->
    <!--    display:none;-->
    <!--    }-->
    <!--    2. 在插值表达式所在的标签中添加 v-cloak 指令-->
    <!--    3. 背后原理：先通过样式隐藏内容，然后在内存中进行值的替换，替换好之后再显示最终的结果。-->

<!--        数据绑定指令-->
<!--        - v-text 填充纯文本（相比插值表达式更加简洁且无闪动问题）-->
<!--        - v-html 填充 HTML 片段（存在安全问题,-->
<!--    容易导致 XSS 跨站脚本攻击，只在本站内部数据可用，绝不用在第三方数据）-->
<!--        - v-pre 填充原始信息（显示原始信息，跳过编译过程-分析编译过程）-->

<!--    数据响应式-->
<!--    v-once 显示内容之后不再具有响应式功能-->
<!--    调试控制台 vm可以查看所有数据。 vm.msg=xxx，可以立马改变。-->

<!--    双向数据绑定 v-model
       <input type='text' v-model='uname'/>
       v-model的底层代码实现原理:
       // 这边直接在 @input 后面绑定的方法区写代码了
       // 将 msg 参数变更为 $event.target.value
       <input type="text" :value="msg" @input="msg=$event.target.value">
-->

<!--    事件绑定-->
<!--    - v-on-->
<!--    <button v-on:click='num++'>点击变量+1</button>-->
<!--    <div v-text="num" />-->
<!--    - v-on 简写成@-->
<!--    <button @click='num++'>点击变量+1</button>-->
<!--    <div v-text="num" />-->


<!--    <button @click="TestFuncByParams(1,3,$event)"></button>-->
<!--    .stop 阻止冒泡（事件会上传到上层元素）-->
<!--    <button @click.stop="TestFuncByParams(1,3,$event)"></button>-->
<!--    .prevent 阻止默认行为，比如阻止百度跳转-->
<!--    <a href="https://www.baidu.com" @click.prevent="TestFuncByParams(1,3,$event)">百度</a>-->

<!--自定义按键修饰符（通过事件对象获取）-->
<!--    Vue.config.keyCodes.f1  == 112-->

<!--    属性绑定 v-bind-->
<!--    <a v-bind:href="url">跳转</a>-->
<!--    缩写形式： <a :href="url">跳转</a>-->

    样式绑定
    class样式处理：左边是 CSS 样式类名 右边是变量激活标志位（true or false)
    - 对象语法 <div v-bind:class="{active :isActive}"></div>
    直接通过绑定对象的方式最符合后端开发工程师的思想
    - 对象语法 <div v-bind:class="objClass"></div>

    - 数组语法 <div v-bind:class="{activeClass,otherClass}"></div>
    - 数组语法 <div v-bind:class="[activeClass,otherClass,{otherClass2:isOtherClass2}]"></div>

    内联样式
    左边是样式名 右边是变量 borderStyle:'1px solid blue'
    <div :style="{border:borderStyle,width:widthStyle}"></div>
    直接通过绑定对象的方式最符合后端开发工程师的思想
    objStyles:{
        border:'1px solid green',
        width:'200px',
        height:'100px'
    }
    <div :style="objStyles"></div>
    绑定多个样式类
    <div :style="[objStyles,OtherSytles]"></div>

    分支循环结构
    v-if v-else v-else-if v-show
    score 是变量
    <div v-if="score>=90">优秀</div>
    <div v-else-if="score<90&&score>=80">良好</div>
    <div v-else="score<80">一般</div>

    <div v-show="flag">Test</div>

    循环结构
    <li v-for="item in list">{{item}}</li>
    index 从 0 开始
    <li v-for="(item,index) in list">{{item}} + '-----'+{{index}}</li>
    key 的作用：帮助 Vue 区分不同的元素，从而提高性能
    <li :key="item.id" v-for="(item,index) in list">{{item}} + '-----'+{{index}}</li>

    遍历对象
    对象值，对象key，index
    <div v-for="{value,key,index} in obj"></div>

    v-if v-for结合使用
    <div v-if="value==13" v-for="(value,key,index) in obj"></div>

</head>
<body>
<!--差值表达式：支持基本的计算操作-->
<!--整个区域内的app，都可以使用对象msg-->
<div id="app">
    <div v-cloak>{{msg}}</div>
    <div>{{msg + '-----' + 123}}</div>
    <div>{{1 + 2}}</div>

    <div v-text="msg"></div>

    <div v-html="msgHtml"></div>

<!--    看到原始数据，像转义，不对信息进行编译-->
    <div v-pre>{{msg}}</div>

    <div v-once>{{msg}}</div>

    <input type="text" v-model="test"/>
    <div v-text="test"></div>

    <div>
        <button @click="num++">点我</button>
        <button @click='clickButton'>点我调用函数1</button>
        <button @click='clickButton()'>点我调用函数2</button>
<!--        事件传参固定写法：$event -->
        <button @click='clickButtonByParams(1,2,$event)'>点我调用带参函数</button>

<!--        .stop 阻止冒泡（事件会上传到上层元素）-->
        <button @click.stop="clickButtonByParams(1,3,$event)"></button>
<!--        .prevent 阻止默认行为，比如阻止百度跳转-->
        <a href="https://www.baidu.com" @click.prevent="clickButtonByParams(1,3,$event)">百度</a>
        <input type="text" @keyup.enter="enterPress" v-model="pwd">
<!--        两种方式都可以      -->
        <input type="text" @keyup.keya="pressF1($event)">
        <input type="text" @keyup.65="pressF1($event)">
        <br>
        <button @click="updateUrl">点我可以更换 a 标签 href 属性</button>
        <a :href="url">我是 a 标签</a>

        <br>
        <div>下面是类绑定</div>
<!--        这边的 active 是 CSS 属性选择器;isActive 是变量-->
        <div :class="{active:isActive}"></div>
        <button @click="clickActive">激活变量</button>

        <div :class="objClass">我是通过类来绑定到类</div>
        <button @click="UpdateObjClass">改变类绑定</button>

        <div v-if="score>=90">优秀</div>
        <div v-else-if="score<90&&score>=80">良好</div>
        <div v-else="score<80">一般</div>

        <div>我是水果
            <ul>
                <li v-for="item in fruits">{{item}}</li>
            </ul>
        </div>

        <div>我是复杂水果
            <ul>
                <li v-for="item in myFruits">
                    <span>{{item.ename}}</span>
                    <span>{{item.cname}}</span>
                </li>
            </ul>
        </div>

    </div>
</div>
</body>
</html>

<style>
    /*属性选择器*/
    [v-cloak] {
        display: none;
    }

    .active{
        border:1px solid red;
        width: 100px;
        height: 100px;
    }

    .addBorder{
        border:1px solid blueviolet;
        width: 100px;
        height: 100px;
    }

    .addBackground{
        background-color: grey;
    }
</style>

<script>

    Vue.config.keyCodes.keya = 65

    var vm = new Vue({
        // 元素的挂在位置（值可以是CSS选择器或者DOM元素）
        el: '#app',
        // 模型数据（值是一个对象）
        data: {
            msg: 'Hello World',
            msgHtml:'<h1>HTML</h1>',
            test:'testZhao',
            num:0,
            pwd:'',
            url:"https://www.baidu.com",
            isActive:true,
            objClass:{
                addBorder:true,
                addBackground:true
            },
            score:99,
            fruits:['apple','orange','banana'],
            myFruits:[{
                ename:'apple',
                cname:'苹果'
            },{
                ename:'orange',
                cname:'橘子'
            },{
                ename:'banana',
                cname:'香蕉'
            }]
        },
        methods:{
            clickButton:function (){
                // 必须通过this来访问，this就是vm(vue)
                console.log(this == vm)
                this.num++;
            },
            clickButtonByParams:function (firstNum,secondNum,event){
                console.log(firstNum,secondNum);
                console.log(event.target.innerHTML);
            },
            enterPress:function (){
                console.log("Enter key has pressed.");
                console.log(this.pwd);
            },
            pressF1:function (event){
                console.log(event.keyCode)
            },
            updateUrl:function (){
                 this.url = "https://www.github.com"
            },
            clickActive:function (){
                this.isActive = !this.isActive;
            },
            UpdateObjClass:function (){
                this.objClass.addBoder = !this.objClass.addBoder;
                this.objClass.addBackground = !this.objClass.addBackground;
            }
        }
    });

</script>