div.box1 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    /* 溢出 */
    overflow-x: scroll;
    /* 浮动 */
    float: right;
}

/* 清除样式 */
.clear {
    clear: both;
}

p {
    background-color: pink;
    /* 文字居中 */
    text-align: center;
}

.box2 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    /* 居中对齐 */
    margin: auto;
    transform: rotate(20deg);
}

/* 通过伪类选择器选择第一个span标签 */
div span:first-child {
    background-color: red;
}

/* 通过伪类选择器选择最后一个span标签 */
div span:last-child {
    background-color: blue;
}

/* 带有黑色阴影的白色文本 */
div h1 {
    color: white;
    text-shadow: 1px 1px 20px #000000;
}

.box4 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: antiquewhite;
    /* transform: scale(0.5,0.5); */
    transform: skewX(20deg);
    /* 在 n 秒内实现宽度变化 */
    transition: width 2s, height 2s, transform 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

.box4:hover {
    width: 400px;
    height: 400px; 
    /* 缩小一倍 */
    /* transform: scale(0.5, 0.5); */
}

/* 动画效果 */
/* 从红色 5s 变为黄色 */
.box5{
	width:100px;
	height:100px;
	background:red;
	animation:myfirst 5s;
    position:relative;
	-webkit-animation:myfirst 5s; /* Safari and Chrome */
}

@keyframes myfirst
{
	0%   {background:red; left:0px; top:0px;}
	25%  {background:yellow; left:200px; top:0px;}
	50%  {background:blue; left:200px; top:200px;}
	75%  {background:green; left:0px; top:200px;}
	100% {background:red; left:0px; top:0px;}
}

/**在屏幕可视窗口尺寸小于 600 像素时将 div 元素隐藏**/
@media screen and (max-width: 600px) {
    div {
      display: none;
    }
  }